In [71]:
import numpy as np
import pandas as pd
import optree
import keras
import tensorflow

In [72]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\open cv\\Bitcoin\\BTC-USD.csv")
df2=df
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
2708,2022-02-15,42586.464844,44667.218750,42491.035156,44575.203125,44575.203125,22721659051
2709,2022-02-16,44578.277344,44578.277344,43456.691406,43961.859375,43961.859375,19792547657
2710,2022-02-17,43937.070313,44132.972656,40249.371094,40538.011719,40538.011719,26246662813
2711,2022-02-18,40552.132813,40929.152344,39637.617188,40030.976563,40030.976563,23310007704
2712,2022-02-19,40022.132813,40246.027344,40010.867188,40126.429688,40126.429688,22263900160

In [73]:
df2

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
2708,2022-02-15,42586.464844,44667.218750,42491.035156,44575.203125,44575.203125,22721659051
2709,2022-02-16,44578.277344,44578.277344,43456.691406,43961.859375,43961.859375,19792547657
2710,2022-02-17,43937.070313,44132.972656,40249.371094,40538.011719,40538.011719,26246662813
2711,2022-02-18,40552.132813,40929.152344,39637.617188,40030.976563,40030.976563,23310007704
2712,2022-02-19,40022.132813,40246.027344,40010.867188,40126.429688,40126.429688,22263900160

In [74]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [75]:
df.duplicated().sum()

0

In [76]:
df['Date']=pd.to_datetime(df['Date'],errors='coerce')
df['Year']=df['Date'].dt.year
df['month']=df['Date'].dt.month
df['day']=df['Date'].dt.day

In [77]:
print(df.head)

<bound method NDFrame.head of            Date          Open          High           Low         Close  \
0    2014-09-17    465.864014    468.174011    452.421997    457.334015
1    2014-09-18    456.859985    456.859985    413.104004    424.440002
2    2014-09-19    424.102997    427.834991    384.532013    394.795990
3    2014-09-20    394.673004    423.295990    389.882996    408.903992
4    2014-09-21    408.084991    412.425995    393.181000    398.821014
...         ...           ...           ...           ...           ...
2708 2022-02-15  42586.464844  44667.218750  42491.035156  44575.203125
2709 2022-02-16  44578.277344  44578.277344  43456.691406  43961.859375
2710 2022-02-17  43937.070313  44132.972656  40249.371094  40538.011719
2711 2022-02-18  40552.132813  40929.152344  39637.617188  40030.976563
2712 2022-02-19  40022.132813  40246.027344  40010.867188  40126.429688

         Adj Close       Volume  Year  month  day
0       457.334015     21056800  2014      9   17
1       424.440002     34483200  2014      9   18
2       394.795990     37919700  2014      9   19
3       408.903992     36863600  2014      9   20
4       398.821014     26580100  2014      9   21
...            ...          ...   ...    ...  ...
2708  44575.203125  22721659051  2022      2   15
2709  43961.859375  19792547657  2022      2   16
2710  40538.011719  26246662813  2022      2   17
2711  40030.976563  23310007704  2022      2   18
2712  40126.429688  22263900160  2022      2   19

[2713 rows x 10 columns]>

In [78]:
vis_df=df.head()

In [79]:
vis_df.set_index("Year",inplace=True)
vis_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,month,day
Year,,,,,,,,,
2014,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,9,17
2014,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,9,18
2014,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,9,19
2014,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,9,20
2014,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,9,21

In [80]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,month,day
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,2014,9,17
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,2014,9,18
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,2014,9,19
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,2014,9,20
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,2014,9,21

In [81]:
df2.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,month,day
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,2014,9,17
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,2014,9,18
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,2014,9,19
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,2014,9,20
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,2014,9,21

In [82]:
df2.drop(labels=["Date","Adj Close"],axis=1,inplace=True)
df2.head()

         Open        High         Low       Close    Volume  Year  month  day
0  465.864014  468.174011  452.421997  457.334015  21056800  2014      9   17
1  456.859985  456.859985  413.104004  424.440002  34483200  2014      9   18
2  424.102997  427.834991  384.532013  394.795990  37919700  2014      9   19
3  394.673004  423.295990  389.882996  408.903992  36863600  2014      9   20
4  408.084991  412.425995  393.181000  398.821014  26580100  2014      9   21

In [83]:
df2.shape

(2713, 8)

In [84]:
df2=df2.loc[df2["Volume"]!="-"]
df2.shape

(2713, 8)

In [85]:
for feature in df2.columns:
    df2[feature]=np.float32(df2[feature])
    df[feature]=np.log(df2[feature])

In [86]:
df2.head()

,Open,High,Low,Close,Volume,Year,month,day
0,465.864014,468.174011,452.421997,457.334015,21056800.0,2014.0,9.0,17.0
1,456.859985,456.859985,413.104004,424.440002,34483200.0,2014.0,9.0,18.0
2,424.102997,427.834991,384.532013,394.795990,37919700.0,2014.0,9.0,19.0
3,394.673004,423.295990,389.882996,408.903992,36863600.0,2014.0,9.0,20.0
4,408.084991,412.425995,393.181000,398.821014,26580100.0,2014.0,9.0,21.0

In [87]:
X=df2.drop(labels="Close",axis=1)
y=df2["Close"]

In [88]:
X_train=X[:1052]
X_test=X[1052:]

In [89]:
print(X_train.shape,X_test.shape)

(1052, 7) (1661, 7)

In [90]:
y_train=y[:1052]
y_test=y[1052:]

In [91]:
print(y_train.shape,y_test.shape)

(1052,) (1661,)

In [92]:
x_train=np.array(X_train)
x_train=np.reshape(x_train,(x_train.shape[0],x_train.shape[1],1))

In [93]:
x_test=np.array(X_test)
x_test=np.reshape(x_test,(x_test.shape[0],x_test.shape[1],1))

In [94]:
print(x_train.shape,x_test.shape)

(1052, 7, 1) (1661, 7, 1)

In [95]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Conv1D,MaxPooling1D,BatchNormalization,LSTM,Dense,Dropout

In [99]:
model=Sequential()
model.add(Conv1D(filters=64,kernel_size=3,activation='relu',padding='same',input_shape=(x_train.shape[1],x_train.shape[2])))
model.add(Conv1D(filters=64,kernel_size=3,activation='relu',padding='same'))
model.add(BatchNormalization())
model.add(MaxPooling1D())
model.add(Conv1D(filters=128,kernel_size=3,activation='relu',padding='same'))
model.add(Conv1D(filters=128,kernel_size=3,activation='relu',padding='same'))
model.add(BatchNormalization())
model.add(MaxPooling1D())
model.add(LSTM(units=200,return_sequences=True))
model.add(LSTM(units=200))
model.add(Dropout(0,4))
model.add(Dense(512,activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam',loss='mean_squared_error')

In [100]:
model.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ conv1d_20 (Conv1D)              │ (None, 7, 64)          │           256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ conv1d_21 (Conv1D)              │ (None, 7, 64)          │        12,352 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ batch_normalization_10          │ (None, 7, 64)          │           256 │
│ (BatchNormalization)            │                        │               │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ max_pooling1d_10 (MaxPooling1D) │ (None, 3, 64)          │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ conv1d_22 (Conv1D)              │ (None, 3, 128)         │        24,704 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ conv1d_23 (Conv1D)              │ (None, 3, 128)         │        49,280 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ batch_normalization_11          │ (None, 3, 128)         │           512 │
│ (BatchNormalization)            │                        │               │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ max_pooling1d_11 (MaxPooling1D) │ (None, 1, 128)         │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ lstm_6 (LSTM)                   │ (None, 1, 200)         │       263,200 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ lstm_7 (LSTM)                   │ (None, 200)            │       320,800 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_1 (Dropout)             │ (None, 200)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 512)            │       102,912 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │           513 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 774,785 (2.96 MB)

 Trainable params: 774,401 (2.95 MB)

 Non-trainable params: 384 (1.50 KB)

In [101]:
model.fit(x=x_train,y=y_train,batch_size=64,epochs=50,validation_data=(x_test,y_test))

Epoch 1/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 9s 126ms/step - loss: 828542.5000 - val_loss: 631942272.0000
Epoch 2/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 42ms/step - loss: 811224.6875 - val_loss: 628871296.0000
Epoch 3/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 40ms/step - loss: 640708.0000 - val_loss: 624470336.0000
Epoch 4/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 561462.9375 - val_loss: 619119232.0000
Epoch 5/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 470323.8125 - val_loss: 613783680.0000
Epoch 6/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 350396.5625 - val_loss: 609139392.0000
Epoch 7/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 42ms/step - loss: 308438.1562 - val_loss: 603387392.0000
Epoch 8/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 38ms/step - loss: 197592.1562 - val_loss: 597760128.0000
Epoch 9/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 201170.1406 - val_loss: 591697024.0000
Epoch 10/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 37ms/step - loss: 160857.8906 - val_loss: 586177472.0000
Epoch 11/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 37ms/step - loss: 129306.5781 - val_loss: 581348544.0000
Epoch 12/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 130672.0391 - val_loss: 578131072.0000
Epoch 13/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 44ms/step - loss: 102252.6797 - val_loss: 575004480.0000
Epoch 14/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 38ms/step - loss: 101452.0781 - val_loss: 571449664.0000
Epoch 15/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 43ms/step - loss: 82273.4219 - val_loss: 567950976.0000
Epoch 16/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 38ms/step - loss: 83830.8125 - val_loss: 565361728.0000
Epoch 17/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 45ms/step - loss: 73834.1406 - val_loss: 562279680.0000
Epoch 18/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 47ms/step - loss: 55414.5078 - val_loss: 559683776.0000
Epoch 19/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 56ms/step - loss: 50946.3281 - val_loss: 558563584.0000
Epoch 20/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 55725.5000 - val_loss: 555768704.0000
Epoch 21/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 35ms/step - loss: 54772.1094 - val_loss: 554894272.0000
Epoch 22/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 54159.7266 - val_loss: 555373632.0000
Epoch 23/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 37ms/step - loss: 48071.3008 - val_loss: 554878848.0000
Epoch 24/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 46ms/step - loss: 45292.3359 - val_loss: 552261888.0000
Epoch 25/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 43ms/step - loss: 64799.8125 - val_loss: 552039616.0000
Epoch 26/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 56ms/step - loss: 50902.7109 - val_loss: 552981184.0000
Epoch 27/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 39ms/step - loss: 63688.2656 - val_loss: 551360512.0000
Epoch 28/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 40ms/step - loss: 45516.3711 - val_loss: 588565824.0000
Epoch 29/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 39ms/step - loss: 47600.9570 - val_loss: 563022976.0000
Epoch 30/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 45ms/step - loss: 55835.2539 - val_loss: 553447936.0000
Epoch 31/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 38ms/step - loss: 45864.1914 - val_loss: 552597504.0000
Epoch 32/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 39ms/step - loss: 42761.5664 - val_loss: 606412288.0000
Epoch 33/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 37ms/step - loss: 46932.5391 - val_loss: 549551680.0000
Epoch 34/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 41508.3281 - val_loss: 549797248.0000
Epoch 35/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 44ms/step - loss: 38951.4531 - val_loss: 549331648.0000
Epoch 36/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 39ms/step - loss: 70386.8359 - val_loss: 551258432.0000
Epoch 37/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 39ms/step - loss: 45783.7031 - val_loss: 551928512.0000
Epoch 38/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 38ms/step - loss: 46482.1562 - val_loss: 563292160.0000
Epoch 39/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 38ms/step - loss: 41319.0195 - val_loss: 549046144.0000
Epoch 40/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 39ms/step - loss: 75389.2578 - val_loss: 550648768.0000
Epoch 41/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 40ms/step - loss: 37317.2305 - val_loss: 550022528.0000
Epoch 42/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 38ms/step - loss: 44290.8477 - val_loss: 550411776.0000
Epoch 43/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 39ms/step - loss: 41891.6641 - val_loss: 550333632.0000
Epoch 44/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 46ms/step - loss: 44943.4492 - val_loss: 556720704.0000
Epoch 45/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 38ms/step - loss: 41136.8672 - val_loss: 551100288.0000
Epoch 46/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 42398.4883 - val_loss: 549829888.0000
Epoch 47/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 38774.1641 - val_loss: 549486080.0000
Epoch 48/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 35ms/step - loss: 41641.2148 - val_loss: 548276096.0000
Epoch 49/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - loss: 46654.4648 - val_loss: 549360384.0000
Epoch 50/50
17/17 ━━━━━━━━━━━━━━━━━━━━ 1s 35ms/step - loss: 45371.5078 - val_loss: 548927488.0000

In [102]:
LSTM_Prediction=model.predict(x_test,batch_size=64,verbose=1)

26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 29ms/step

In [103]:
print(LSTM_Prediction)

[[2432.0408]
 [2487.1099]
 [2452.022 ]
 ...
 [2488.7456]
 [2488.7722]
 [2488.788 ]]

In [104]:
print(y_test)

1052     2895.889893
1053     3252.909912
1054     3213.939941
1055     3378.939941
1056     3419.939941
            ...
2708    44575.203125
2709    43961.859375
2710    40538.011719
2711    40030.976562
2712    40126.429688
Name: Close, Length: 1661, dtype: float32

In [106]:
result=pd.DataFrame()
result["input_closing_values"]=y_test
result["lstm_predicted_closing_values"]=LSTM_Prediction
result.reset_index(drop=True,inplace=True)
result.head()

   input_closing_values  lstm_predicted_closing_values
0           2895.889893                    2432.040771
1           3252.909912                    2487.109863
2           3213.939941                    2452.021973
3           3378.939941                    2479.420654
4           3419.939941                    2485.120117

In [107]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [108]:
MSE=mean_squared_error(y_true=y_test,y_pred=LSTM_Prediction)
print("Mean_Squared_Error Value is {:.3f}".format(MSE))

MAE=mean_absolute_error(y_true=y_test,y_pred=LSTM_Prediction)
print("Mean_Absolute_Error Value is {:.3f}".format(MAE))

Mean_Squared_Error Value is 548927424.000
Mean_Absolute_Error Value is 15586.094